<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- meta data -->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="{SITE_NAME}, lineage2, lineage 2, line age, lineage II, server, servidor, melhor servidor, top200, topservers, interlude, freya, epilogue, hf, gracia final, high five, top server, rank lineage, ranking lineage, h5, goddess of destruction, icpnetworks, l2jbrasil">
		<meta name="description" content="{SITE_NAME} - Servidor privado de Lineage II">
		<meta name="copyright" content="ICPNetworks">
		<meta name="author" content="www.icpnetworks.com.br / Design & desenvolvimentos web">
		<meta name="email" content="contato@icpnetworks.com.br">
		<!-- title -->
		<title>{SITE_TITLE}</title>
		<!-- CSS -->
		<link href="{TEMPLATE}styles/css/style.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="shortcut icon" href="images/miscs/favicon.ico">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{TEMPLATE}styles/js/PopBox.js"></script>
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '2617026385223468');
			fbq('track', 'PageView');
			fbq('track', 'UserPanel');
		</script>
	</head>
	<body>
		<div class="menu">
			<ul id="nav">
				<li><a id="home" href="index.php"></a></li>
				<li>
					<a id="register" href="#"></a>
					<ul id="subnav">
						<li><a href="index.php?icp=cadastro">REGISTER ACCOUNT</a></li>
						<li id="last-sub"><a href="index.php?icp=remember">CHANGE PASSWORD</a></li>
					</ul>
				</li>
				<li><a id="downloads" href="index.php?icp=downloads"></a></li>
				<li><a id="informations" href="index.php?icp=informacoes"></a></li>
				<li>
					<a id="rankings" href="#"></a>
					<ul id="subnav">
						<li><a href="index.php?icp=ranking&type=top_pvp">TOP PVP</a></li>
						<li><a href="index.php?icp=ranking&type=top_pk">TOP PK</a></li>
						<li><a href="index.php?icp=ranking&type=castles_siege">CASTLE SIEGE</a></li>
						<li><a href="index.php?icp=ranking&type=olympiads">OLYMPIADS</a></li>
						<li id="last-sub"><a href="index.php?icp=ranking&type=boss_status">BOSSES STATUS</a></li>
					</ul>
				</li>
				<li><a id="donations" href="index.php?icp=donate"></a></li>
				<li><a id="forum" href="#" target="_blank"></a></li>
			</ul>
		</div>
		<div class="container">
			<div class="dragao"></div>
			<div class="centro">
				<div class="sidebar-left">
					<div class="top_box">
						<div class="title-box-control"></div>
					</div><!-- topbox -->
					<div class="midle-box">
						<!-- BEGIN BLOCK_ICP_PANEL_CONNECTED -->
							<center><span style="color:#F5DEB3;">ACCESS:</span><br>
							<a style="text-decoration:none;" target="_blank" href="?icp=panel"><div class="btn_statistics">Control Panel</div></a><br></center>
						<!-- END BLOCK_ICP_PANEL_CONNECTED -->
						<!-- BEGIN BLOCK_ICP_PANEL_DISCONNECTED -->
							<form action="" method="post" name="form">
								<div class="icon-user"></div><input name="username" type="text" id="login" placeholder="Username" />
								<div class="icon-pass"></div><input name="password" type="password" id="password" placeholder="Password" />
								<input name="login" type="submit" id="btn_login" value="" />
							</form>
							<a id="links" href="index.php?icp=remember"> Forgot your password ? </a>
							<a id="links2" href="index.php?icp=cadastro"> Register Here </a>
						<!-- END BLOCK_ICP_PANEL_DISCONNECTED -->
					</div><!-- Midle box -->
					<div class="final-box"></div>
					<div class="top_box">
						<div class="title-box-statistics"></div>
					</div><!-- topbox -->
					<div class="midle-box">
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pvp"><div class="btn_statistics">Top PvP</div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pk"><div class="btn_statistics">Top PK</div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=castles_siege"><div class="btn_statistics">Castle Siege</div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=olympiads"><div class="btn_statistics">Olympiads</div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=boss_status"><div class="btn_statistics">Bosses Status</div></a>
					</div><!-- Midle box -->
					<div class="final-box"></div>
					<div class="top_box">
						<div class="title-box-donation"></div>
					</div><!-- topbox -->
					<div class="midle-box">
						<a style="text-decoration:none;" href="index.php?icp=donate"><div class="img_donation"></div></a>
						<div class="link-donation">
							<a class="link-donation" href="index.php?icp=donate">By making a donation you help<br />
							to keep the server online<br />
							and earn rewards.</a>
						</div>
					</div><!-- Midle box -->
					<div class="final-box"></div>
				</div><!-- sidebar-left -->
				<div class="content-meio">
					<div class="status">
						Loginserver:
							<!-- BEGIN BLOCK_LOGIN_SERVER_ONLINE -->
								<span style='color:#090;'>Online</span>
							<!-- END BLOCK_LOGIN_SERVER_ONLINE -->
							<!-- BEGIN BLOCK_LOGIN_SERVER_OFFLINE -->
								<span style='color:#F00;'>Offline</span>
							<!-- END BLOCK_LOGIN_SERVER_OFFLINE -->
						| Gameserver:
							<!-- BEGIN BLOCK_GAME_SERVER_ONLINE -->
								<span style='color:#0F0;'>Online</span>
							<!-- END BLOCK_GAME_SERVER_ONLINE -->
							<!-- BEGIN BLOCK_GAME_SERVER_OFFLINE -->
								<span style='color:#F00;'>Offline</span>
							<!-- END BLOCK_GAME_SERVER_OFFLINE -->
					</div>
					{PAGES}
				</div><!-- CONTEUDO -->
				<div class="sidebar-right">
					<div class="top_box">
						<div class="title-box-vote"></div>
					</div><!-- topbox -->
					<div class="midle-box">
						<a style="text-decoration:none;" href="/vote" target="_blank"><div class="vote-img"></div></a>
						<div class="link-donation">
							<a class="link-donation" href="/vote" target="_blank">Vote for the server <br />
							and receive prizes.</a>
						</div>
					</div><!-- Midle box -->
					<div class="final-box"></div>
					<div class="top_box">
						<div class="title-box-facebook"></div>
					</div><!-- topbox -->
					<div class="midle-box">
						<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{FACEBOOK}&amp;width=222&amp;height=540&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:222px; height:400px;" allowTransparency="true"></iframe>
					</div><!-- Midle box -->
					<div class="final-box"></div>
				</div><!-- sidebar-right -->
			</div><!--Centro content -->
			<div class="footer"></div>
		</div><!--Container Geral -->
		<div class="footer_bg">
			<div class="footer_text">
				ALL RIGHTS RESERVED : {SITE_NAME} | DEVELOPED : <a href="http://icpnetworks.com.br" title="WebSite desenvolvido por ICPNetworks" target="_blank"><img src="{TEMPLATE}imgs/logoicp.png" width="115" height="31" alt="ICPNetworks" /></a>
			</div>
		</div>
	</body>
</html>