<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- meta data -->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="{SITE_NAME}, lineage2, lineage 2, line age, lineage II, server, servidor, melhor servidor, top200, topservers, interlude, freya, epilogue, hf, gracia final, high five, top server, rank lineage, ranking lineage, h5, goddess of destruction, icpnetworks, l2jbrasil">
		<meta name="description" content="{SITE_NAME} - Servidor privado de Lineage II">
		<meta name="copyright" content="ICPNetworks">
		<meta name="author" content="www.icpnetworks.com.br / Design & desenvolvimentos web">
		<meta name="email" content="contato@icpnetworks.com.br">
		<!-- title -->
		<title>{SITE_TITLE}</title>
		<!-- CSS -->
		<link href="{TEMPLATE}styles/css/style.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="shortcut icon" href="images/miscs/favicon.ico">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{TEMPLATE}styles/js/PopBox.js"></script>
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '2617026385223468');
			fbq('track', 'PageView');
			fbq('track', 'UserPanel');
		</script>
	</head>
	<body>
		<div class="topo">
			<div class="container-1">
				<div class="date-top">Sexta-Feira, 10 de Agosto de 2021</div>
				<div class="options-top"><a id="links2" href="#" target="_blank">FORUM</a> | <a id="links2" href="index.php?icp=regras">REGRAS</a></div>
				<div class="stats-top">
					LOGINSERVER:
						<!-- BEGIN BLOCK_LOGIN_SERVER_ONLINE -->
							[<span style='font-weight:bold; color:#090'>ON</span>]
						<!-- END BLOCK_LOGIN_SERVER_ONLINE -->
						<!-- BEGIN BLOCK_LOGIN_SERVER_OFFLINE -->
							[<span style='font-weight:bold; color:#F00;'>OFF</span>]
						<!-- END BLOCK_LOGIN_SERVER_OFFLINE -->
					- GAMESERVER:
						<!-- BEGIN BLOCK_GAME_SERVER_ONLINE -->
							[<span style='font-weight:bold; color:#090'>ON</span>]
						<!-- END BLOCK_GAME_SERVER_ONLINE -->
						<!-- BEGIN BLOCK_GAME_SERVER_OFFLINE -->
							[<span style='font-weight:bold; color:#F00;'>OFF</span>]
						<!-- END BLOCK_GAME_SERVER_OFFLINE -->
				</div>  
				<!-- BOTOES TOP 200 --> 
				<div class="align-botoes">
					<div class="logol2"></div>
					<a href="#"><div class="top200"></div></a>
					<a href="#"><div class="hopzone"></div></a>
					<a href="#"><div class="topzone"></div></a>
					<a href="#"><div class="top100"></div></a>
				</div><!-- ALINHA BOTOES -->
				<div class="alinha-menu">
					<div class="menu-01">
						<ul>
							<li><a href="index.php">HOME</a></li>
							<li>
								<a href="#">REGISTER</a>
								<ul>
									<li><a href="index.php?icp=cadastro">Create Account</a></li>
									<li><a href="index.php?icp=remember">Recovery Password</a></li>
								</ul>
							</li>
							<li><a href="index.php?icp=downloads">DOWNLOADS</a></li>
							<li>
								<a href="#">RANKINGS</a>
								<ul>
									<li><a href="index.php?icp=ranking&type=top_pvp">TOP PVP</a></li>
									<li><a href="index.php?icp=ranking&type=top_pk">TOP PK</a></li>
									<li><a href="index.php?icp=ranking&type=castles_siege">CASTLE SIEGE</a></li>
									<li><a href="index.php?icp=ranking&type=olympiads">OLYMPIADS</a></li>
									<li><a href="index.php?icp=ranking&type=boss_status">BOSSES STATUS</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- Menu parte 01 -->
					<div class="menu-02">
						<ul>
							<li><a href="index.php?icp=informacoes">INFORMATIONS</a></li>
							<li><a href="index.php?icp=regras">RULES</a></li>
							<li><a href="index.php?icp=donate">DONATIONS</a></li>
							<li><a href="#" target="_blank">FORUM</a></li>
						</ul>
					</div><!-- Menu parte 02 -->
				</div>
			</div><!-- CONTAINER 1000px TOPO -->
		</div><!-- TOPO -->
		<div class="bg_site">
			<div class="container">
				<div class="logo"></div>
				<div class="box_conteudo">
					{PAGES}
				</div><!-- BOX CONTEUDO -->
				<div class="sidebar">
					<div class="topo_control"></div>
					<div class="midle-box">
						<!-- BEGIN BLOCK_ICP_PANEL_CONNECTED -->
							<center><span style="color:#ccc;">ACCESS:</span><br><br>
							<a style="text-decoration:none; padding:5px 10px; margin:5px; width:auto; font-size:24px; color:#f5f5f5; background: rgba(50,50,50,0.5); border:1px solid #ccc; border-radius:5px;" target="_blank" href="?icp=panel">Control Panel</a><br></center>
						<!-- END BLOCK_ICP_PANEL_CONNECTED -->
						<!-- BEGIN BLOCK_ICP_PANEL_DISCONNECTED -->
							<form action="" method="post">
								<div class="icon-user"></div><input name="username" type="text" id="login" placeholder="Login" /><br />
								<div class="icon-pass"></div><input name="password" type="password" id="password" placeholder="Password" /><br />
								<input name="login" type="submit" value="" id="btn_login" />
							</form>
							<center>
								<span style="font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:white;"> <a id="links" href="index.php?icp=remember"> Forgot your password ? </a> </span><br />
								<span style="font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:white;"> <a id="links"  href="index.php?icp=cadastro"> Register Here </a> </span>
							</center>
						<!-- END BLOCK_ICP_PANEL_DISCONNECTED -->
					</div>
					<div class="bottom-box"></div>
					<!-- FIM BOX 01 -->
					<div class="topo_ranking"></div>
					<div class="midle-box">
						<center>
							<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pvp"><div class="btn_ranking"> Top PVP </div></a>
							<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pk"><div class="btn_ranking"> Top PK </div></a>
							<a style="text-decoration:none;" href="index.php?icp=ranking&type=castles_siege"><div class="btn_ranking"> Castle Siege </div></a>
							<a style="text-decoration:none;" href="index.php?icp=ranking&type=olympiads"><div class="btn_ranking"> Olympiads </div></a>
							<a style="text-decoration:none;" href="index.php?icp=ranking&type=boss_status"><div class="btn_ranking"> Bosses Status </div></a>
						</center>
					</div>
					<div class="bottom-box"></div>
					<!-- FIM BOX 01 -->
					<div class="topo_vote"></div>
					<div class="midle-box">
						<center>
							<a id="vote_sys" href="/vote" target="_blank"><img src="{TEMPLATE}imgs/vote_img.png" width="183" height="55" alt="Vote System" longdesc="/vote" /></a>
						</center>
					</div>
					<div class="bottom-box">
						<center>
							<span style=" padding-left:10px; font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:white;"> <a id="links" href="/vote" target="_blank"> Vote and earn prizes </a> </span>
						</center>
					</div>
					<!-- FIM BOX 01 -->
				</div><!-- SIDEBAR -->
			</div> <!-- CONTAINER -->
		</div>
		<div class="footer">
			<div class="text-footer">
				All rights reserved : {SITE_NAME} | Web developed : <a href="http://icpnetworks.com.br" target="_blank"><img src="{TEMPLATE}imgs/logoicp.png" width="174" height="47" alt="ICPNetworks" title="WebSite Desenvolvido por ICPNetworks" /></a>
			</div>
		</div>
	</body>
</html>