<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- meta data -->
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta name="robots" content="index, follow">
		<meta name="keywords" content="{SITE_NAME}, lineage2, lineage 2, line age, lineage II, server, servidor, melhor servidor, top200, topservers, interlude, freya, epilogue, hf, gracia final, high five, top server, rank lineage, ranking lineage, h5, goddess of destruction, icpnetworks, l2jbrasil">
		<meta name="description" content="{SITE_NAME} - Servidor privado de Lineage II">
		<meta name="copyright" content="ICPNetworks">
		<meta name="author" content="www.icpnetworks.com.br / Design & desenvolvimentos web">
		<meta name="email" content="contato@icpnetworks.com.br">
		<!-- title -->
		<title>{SITE_TITLE}</title>
		<!-- CSS -->
		<link type="text/css" href="{TEMPLATE}styles/css/style.css" rel="stylesheet" media="screen" />
		<link rel="shortcut icon" href="images/miscs/favicon.ico">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{TEMPLATE}styles/js/jquery.js"></script>
		<script type="text/javascript" src="{TEMPLATE}styles/js/cycle.js"></script>
		<script type="text/javascript" src="{TEMPLATE}styles/js/cufon-yui.js"></script>
		<script type="text/javascript" src="{TEMPLATE}styles/js/Charlemagne_Std_700.font.js"></script>
		<script type="text/javascript" src="{TEMPLATE}styles/js/PopBox.js"></script>
		<script type="text/javascript">
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '2617026385223468');
			fbq('track', 'PageView');
			fbq('track', 'UserPanel');
			// <![CDATA[
			Cufon.replace('.links,.links2,.text-rank,.login,.gameserver,.players,.populacao');
			// ]]>
			<!-- SLIDE ABAIXO -->
			$(document).ready(function() {
				$('#galeria1').cycle({
					fx:'fade',
					speed:    3000
				});
			});
			popBoxWaitImage.src = "images/miscs/spinner40.gif";
			popBoxRevertImage = "images/miscs/magminus.gif";
			popBoxPopImage = "images/miscs/magplus.gif";
		</script>
	</head>
	<body>
		<div class="logo_div">
			<div class="logo"></div>
			<div style="clear:both;"></div>
		</div>
		<div class="menu">
			<ul id="nav">
				<li><a id="home" href="index.php"></a></li>
				<li>
					<a id="register" href="#"></a>
					<ul id="subnav">
						<li><a href="index.php?icp=registro">Register Account</a></li>
						<li><a href="index.php?icp=remember">Remember Password</a></li>
					</ul>
				</li>
				<li><a id="downloads" href="index.php?icp=downloads"></a></li>
				<li>
					<a id="info" href="#"></a>
					<ul id="subnav">
						<li><a href="index.php?icp=info">Server Informations</a></li>
						<li><a href="index.php?icp=dedicado">Dedicated Informations</a></li>
						<li><a href="index.php?icp=eventos">Events Informations</a></li>
					</ul>
				</li>
				<li>
					<a id="rank" href="#"></a>
					<ul id="subnav">
						<li><a href="index.php?icp=ranking&type=top_pvp">Top PVP</a></li>
						<li><a href="index.php?icp=ranking&type=top_pk">Top PK</a></li>
						<li><a href="index.php?icp=ranking&type=castles_siege">Castle Siege</a></li>
						<li><a href="index.php?icp=ranking&type=olympiads">Olympiads</a></li>
						<li><a href="index.php?icp=ranking&type=top_heros">Heroes</a></li>
						<li><a href="index.php?icp=ranking&type=boss_status">Boss Status</a></li>
					</ul>
				</li>
				<li><a id="donations" href="index.php?icp=donate"></a></li>
				<li><a id="forum" href="#" target="_blank"></a></li>
			</ul>
		</div>
		<div class="container">
			<div class="content-bg">
				<div class="sidebar-left">
					<div class="box-01"><div class="title-control"></div></div>
					<div class="midle-box">
						<!-- BEGIN BLOCK_ICP_PANEL_CONNECTED -->
							<center><span style="color:#F5DEB3;">ACCESS:</span><br><br><a style="text-decoration:none;" target='_blank' href='?icp=panel'><div class="btn_rank"><div class="text-rank">Control Panel</div></div></a></center>
						<!-- END BLOCK_ICP_PANEL_CONNECTED -->
						<!-- BEGIN BLOCK_ICP_PANEL_DISCONNECTED -->
							<form action="" method="post" name="form">
								<div id="icon-login"></div><input name="username" type="text" id="login" placeholder="Username" /><br />
								<div id="icon-pass"></div><input name="password" type="password" id="password" placeholder="Password" />
								<input name="login" type="submit" value="" id="btn_login" />
							</form>
							<a style="text-decoration:none;" href="index.php?icp=remember"><div class="links">Forgot your password ?</div></a>
							<a style="text-decoration:none;" href="index.php?icp=registro"><div class="links">Register here</div></a>
						<!-- END BLOCK_ICP_PANEL_DISCONNECTED -->
					</div>
					<div class="bottom-box"></div>
					<div class="box-02"><div class="title-utilies"></div></div>
					<div class="midle-box">
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pvp"><div class="btn_rank"><div class="text-rank">Top PVP</div></div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_pk"><div class="btn_rank"><div class="text-rank">Top PK</div></div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=castles_siege&type=castles_siege"><div class="btn_rank"><div class="text-rank">Castle Siege</div></div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=olympiads"><div class="btn_rank"><div class="text-rank">Olympiads</div></div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=top_heros"><div class="btn_rank"><div class="text-rank">Heroes</div></div></a>
						<a style="text-decoration:none;" href="index.php?icp=ranking&type=boss_status"><div class="btn_rank"><div class="text-rank">Boss Status</div></div></a>
					</div>
					<div class="bottom-box"></div>
					<div class="box-02"><div class="title-donate"></div></div>
					<div class="midle-box">
						<a style="text-decoration:none;" href="index.php?icp=donate"><div class="img_donate"></div></a>
						<a style="text-decoration:none;" href="index.php?icp=donate"><div class="links2">Make donations and<br />keep the server online</div></a>
					</div>
					<div class="bottom-box"></div>
				</div><!-- SIDEBAR -->
				<div class="content">
					<div class="conteudo">
						{PAGES}
					</div>
				</div><!-- CONTEUDO -->
				<div class="sidebar-right">
					<div class="box-01"><div class="title-status"></div></div>
					<div class="midle-box">
						<div class="login">LoginServer :
							<!-- BEGIN BLOCK_LOGIN_SERVER_ONLINE -->
								<span style="color:#88e46f;">ONLINE</span>
							<!-- END BLOCK_LOGIN_SERVER_ONLINE -->
							<!-- BEGIN BLOCK_LOGIN_SERVER_OFFLINE -->
								<span style="color:#f31313;">OFFLINE</span>
							<!-- END BLOCK_LOGIN_SERVER_OFFLINE -->
						</div><br />
						<div class="gameserver">GameServer :
							<!-- BEGIN BLOCK_GAME_SERVER_ONLINE -->
								<span style="color:#88e46f;">ONLINE</span>
							<!-- END BLOCK_GAME_SERVER_ONLINE -->
							<!-- BEGIN BLOCK_GAME_SERVER_OFFLINE -->
								<span style="color:#f31313;">OFFLINE</span>
							<!-- END BLOCK_GAME_SERVER_OFFLINE -->
						</div><br />
						<!-- BEGIN BLOCK_SERVER_DETAILS -->
							<div class="players">Players ON : <span style="color:#e1e828;">{SERVER_TOTAL_ONLINE}</span></div><br />
							<div class="populacao">Population : <span style="color:#06C;">{SERVER_TOTAL_CHARACTERS}</span> </div>
						<!-- END BLOCK_SERVER_DETAILS -->
					</div>
					<div class="bottom-box"></div>
					<div class="box-02"><div class="title-face"></div></div>
					<div class="midle-box">
						<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2F{FACEBOOK}&amp;width=220&amp;height=298&amp;show_faces=true&amp;colorscheme=dark&amp;stream=false&amp;show_border=false&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:298px;" allowTransparency="true"></iframe>
					</div>
					<div class="bottom-box"></div>
					<div class="box-02"><div class="title-vote"></div></div>
					<div class="midle-box">
						<a style="text-decoration:none;" href="vote/" target="_blank"><div class="img_vote"></div></a>
						<a style="text-decoration:none;" href="vote/" target="_blank"><div class="links2">Vote and help the server grow</div></a>
					</div>
					<div class="bottom-box"></div>
				</div><!-- SIDEBAR -->
			</div> <!-- CONTENT BG -->
		</div> <!-- CONTAINER -->
		<div class="align-footer">
			<div class="footer"></div>
		</div>
		<div class="bg_footer">
			<div style="margin:0 auto; width:273px;">
				<div class="icpnetworks"></div>
			</div>
		</div>
	</body>
</html>